@import url('https://fonts.googleapis.com/css?family=Montserrat');
#survey-form {
  max-width: 800px;
  margin: 40px auto;
  border: 1px solid whitesmoke;
  background: rgb(166, 214, 234);
}

header {
  text-align: center;
}

body {
  margin: 0;
  background: rgb(208, 228, 237);
  font-family: 'Montserrat', sans-serif;
}

.box {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.left-col {
  flex: 1;
  text-align: end;
  padding-right: 30px;
  padding-bottom: 10px;
}

.right-col {
  flex: 1;
  text-align: start;
  padding-left: 30px;
  padding-bottom: 10px;
}

.left-col,
#name-label {
  padding-top: 30px;
}

#name, #email, #number, #dropdown {
  border: none;
  border-radius: 4px;
  background-color: hsl(240, 16%, 91%);
}


#textarea, textarea {
  border: none;
  border-radius: 4px;
}


#btn {
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

#submit {
  padding: 0.5rem 2rem;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}

#submit:hover {
  background: #f4f4f4;
}

.right-col #name,
#email,
#number {
  width: 60%;
  height: 30px;
  margin-top: 30px;
}

.right-col #dropdown {
  width: 60%;
  height: 30px;
  margin-top: 30px;
}

#radio {
  padding-top: 30px;
  padding-bottom: 30px;
}

#check {
  padding-bottom: 30px;
  padding-top: 30px;
}

#textarea {
  padding-top: 30px;
}

.right-col textarea {
  width: 60%;
}

@media(max-width: 768px) {
  .box {
    display: block;
    width: 100%;
    align-items: center;
  }
  .left-col {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-right: 0;
  }
  .right-col {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}